body {
	margin: 0px auto;
	padding: 0px;
	background: #7B7B7B;
	font-family: Arial;
}

header {
	margin: 0px auto;
	width: 100%;
	height: 70px;
	background: #000000;
}

header > h1 {
	margin: 0px;
	position: relative;
	left: 20px;
	line-height: 70px;
	font-size: 30pt;
	color: #1fa940;
	text-shadow: #FFFFFF 1px 1px 1px,
		#FFFFFF -1px -1px 1px,
		#FFFFFF -1px 1px 1px,
		#FFFFFF 1px -1px 1px;
}

nav {
	margin: 0px auto;
	width: 1200px;
	background: #FFFFFF;
	height: 150px;
}

nav > div {
	margin: 0px auto;
	width: 1200px;
	padding-top: 20px;
	padding-left: 20px;
}

nav > div > img {
	position: relative;
	float: left;
	width: 120px;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.35), -3px -3px 5px rgba(0,0,0,0.35);
}

nav > div > ul {
	position: relative;
	float: left;
	margin: 0px;
	padding: 0px;
}

nav > div > ul > li {
	list-style: none;
	padding-left: 50px;
	font-style: italic;
	padding-bottom: 5px;
	color: #A6A6A6;
}

#list_username {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-size: 26pt;
	font-weight: bold;
	padding-bottom: 10px;
	color: #000000;
}

section {
	position: relative;
	clear: both;
	margin: 0px auto;
	width: 1200px;
	background: #FFFFFF;
}

main {
	position: relative;
	float: left;
	width: 920px;
	margin: 0px auto;
	padding: 0px;
	background: #FFFFFF;
}

.post_thumbnail {
	width: 200px;
	padding: 10px;
}

.post_thumbnail:first-child {
	padding-left: 20px;
}


aside {
	position: relative;
	float: left;
	width: 280px;
	background: #C6C6C6;
}

aside li {
	list-style: none;
}

p {
	margin: 0px;
	padding: 0px;
}